body { font: 12px Arial;}

.container {
	min-width: 800px;
	max-width: 1200px;
	margin: 20px auto;
}

.axis path, .axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.urinate {
	stroke: #31A354;
	stroke-width: 1.5;
	fill: none;
}

.stool {
	stroke: #636363;
	stroke-width: 1.5;
	fill: none;
}

.tick line{
    opacity: 0.3;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 160px;
	height: 20px;
	padding: 2px;
	font: 12px Arial;
	background: #31A354;
	color: white;
	border: 0px;
	pointer-events: none;
}

.areaUrinate {
	fill: #31A354;
	stroke-width: 0;
	opacity: .7;
}

.areaStool {
	fill: #636363;
	stroke-width: 0;
	opacity: .7;
}

.bar {
	fill: #31A354;
	stroke-width: 0;
	opacity: .7;	
}
