body { font: 12px Arial;}

.container {
	min-width: 800px;
	max-width: 1200px;
	margin: 20px auto;
}

.axis path, .axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.urinate {
	stroke: #417FC9;
	stroke-width: 1.5;
	fill: none;
}

.stool {
	stroke: #947A5E;
	stroke-width: 1.5;
	fill: none;
}

.tick line{
    opacity: 0.3;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 160px;
	height: 20px;
	padding: 2px;
	font: 12px Arial;
	background: #417FC9;
	color: white;
	border: 0px;
	pointer-events: none;
}